$colors:(
    "primary":#00a79e,
    "primary-lighter":#00ccc2,
    "primary-darker":#009088,
    "secondary":#ff9500,
    "secondary-lighter":#ffb348,
    "secondary-darker":#d87e00,
    "v-light-grey":#efefef,
    "light-grey":#dadada,
    "mid-grey":#aeaeae,
    "dark-mid-grey":#7c7c7c,
    "dark-grey":#303030,
    "white":#fff,
    "black":#000
);

$sizes:(
    "width-xs":640px,
    "width-sm":720px,
    "width-md":1080px,
    "width-lg":1280px
);

$spaces:(
    "sm":10px,
    "md":15px,
    "lg":20px,
    "xl":25px
);